@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 font-family: 'Roboto', sans-serif;
}


.main {
	display: flex;
	flex-direction: column;
	gap: 60px;
}
/* Header section */
.header-hero-container {
		display: flex;
	flex-direction: column;
	
background-color: #1f2937;
padding: 0px 14%;
padding-bottom: 30px;
gap: 30px;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 700;
height: 70px;


}

.logo {
font-size: 24px ;
color: #F9FAF8;
flex: 1;
flex-basis: 50%;
}
.manu {
flex: 1;
flex-basis: 50%;
}

ul {
list-style: none;
display: flex;
gap: 16px;
flex-wrap: wrap;
justify-content: flex-end;
line-height: 6px;
}
li a {
text-decoration: none !important;
color: #e5e7eb;
font-size: 16px;
}

/*Hero section*/
.hero {
display: flex;
justify-content: center;
height: fit-content;
gap: 48px;
align-items: center;
flex-wrap: wrap;
min-height: 430px;
height: auto;
}
.hero-left {
flex: 1;
 
	
}
.hero-main-text {
 font-size: 48px ;
 color: #f9faf8;
 font-weight: 700;
 margin-bottom: 8px;
}
.hero-secondary-text, .hero-right p{
 font-size: 18px;
 color:  #E5E7EB;
}

.hero-right {
 flex: 1;
	
}
.hero-right img {
	width: 100%;
	max-height: 280px;
	object-fit: cover;
	min-width: 300px;
	
}


.hero button {
	margin: 10px 0;
	padding: 10px 40px;
	background-color: rgb(20, 157, 236);
	border-radius: 10px;	
	border-color: transparent;
}
.hero button a {
color: white;
text-decoration: none;
font-size: 22px;
font-weight: 600;
}
/* Info section*/
.info-section {
 display: flex;
	flex-direction: column;
	
gap: 50px;
}
.title {
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
}
.container {
	display: flex;
	justify-content: center;
	gap: 10px;
	row-gap: 30px;
flex-wrap: wrap;

}
.info {
	text-align: center;
	max-width: 240px;
}
.info img {

object-fit: cover;
	
	border-radius: 20px;
	
	margin-bottom: 8px;
	width: 100%;
	height: 180px;
	width: 180px;
}

/* Testimonials section */
.testimonials-container {
	background-color: #e5e7eb;
margin-top: 50px;
padding: 100px 20px;
}

.testimonials {

	font-weight: 100;
	height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 700px;
margin: auto;
}
.review {
font-style: italic;
font-size: 22px;
font-weight: 100;

}
.author {
align-self: flex-end;
font-weight: 600;
font-size: 20px;
}

/* Call to action section*/
.cta-container {
	display: flex;
margin: 70px 20px;

}
.cta {
height: min-content;
border-radius: 10px;
display: flex;
justify-content: center;
justify-content: space-around;
align-items: center;
margin: auto;
background-color: rgb(20, 157, 236);
color: #eee;
font-size: 18px;
flex-wrap: wrap;
padding: 40px;
min-width: 70vw;
width: auto;
}

.cta button {
	margin: 10px 0;
	padding: 10px 40px;
	background-color: transparent;
	border: 3px solid white;
	border-radius: 10px;	
}
.cta button a {
color: white;
text-decoration: none;
font-size: 22px;
font-weight: 600;
}

.footer-container {
	background-color: #1f2937;
	height: 120px;
	color: #E5E7EB;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}